.experience {
  padding: 100px 0;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 4rem auto 0;
}

/* Central line for the timeline */
.line {
  position: absolute;
  width: 4px;
  background: linear-gradient(to bottom, var(--primary-color), var(--secondary-color));
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}

:global(.dark-mode) .line {
  background: linear-gradient(to bottom, var(--secondary-color), var(--primary-color));
}

/* Hide line and adjust timeline items for mobile view */
@media screen and (max-width: 767px) {
  .line {
    left: 20px;
  }
  
  .timeline {
    padding-left: 40px;
  }
}
